.free{
    width: 100%;
    margin: auto;
    padding-top: 90px;
    /* background-image:url('../../public/imgss/full-stack\(5\).jfif'); */
    background-size: cover;
    background-color: black;
    background-position: center;
 }
 