.le{
    position: fixed;
    top: 40%;
    left: -22px;
}
.le ul li{
    list-style: none;
    margin-bottom: 5px;
    background-color: rgba(80, 74, 74, 0.894);
    color: white;
    padding: 10px 15px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
}
.le ul li:hover{
    background-color: rgba(80, 74, 74, 0.662);
    
}
.le ul li a{
    color: white;
}

@media screen and (max-width:695px) {
    .le{
        display: none;
    }
  }