.contaner{
    width:100%;
    text-align: center;
    margin-top: 100px;
}
.contaner .hed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 70px;
}
.contaner .hed .icon{
    width: 12rem;
    margin: auto;
    margin-bottom: 20px;
    align-items: center;
    margin-bottom: 40px;
    
}
.contaner .hed .icon i{
    /* color: #e18c0c; */
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 30px;
}
.contaner .hed .icon h6{
    font-size: 22px;
    font-weight: bold;
}



/* Anmision */
/* App.css */
.animacthen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.box {
    width: 23rem;
    padding: 50px;
    /* height: 200px; */
    background-color: #123456;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    animation: box 2s infinite;
    margin: 9px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #123444;
  }
  
  @keyframes box {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }
  