.home{
    background-image:linear-gradient(rgba(0, 0, 0, 0.82),rgba(0, 0, 0, 0.825)), url('../../public/imgss/homepage-hero-new.png');
    background-size: cover;
    width: 100%;
    padding: 190px 0;
}
.home .clom{
    margin: 0 20px;
}
.home .hed{
    text-align: center;

}

.home .hed .clom h1{
        text-transform: uppercase;
        font-size: -webkit-calc(2.1875rem + (96 - 35) * ((100vw - 48rem)/ (1920 - 768)));
        font-size: calc(2.1875rem + (96 - 35) * ((100vw - 48rem)/ (1920 - 768)));
        font-family: "WPP Black",sans-serif;
        line-height: 1.2;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: #FFF;
        -webkit-text-stroke-width: 1px;
        margin: 0 auto;
        animation: name 1s steps(5, start) infinite;
    }
    @keyframes name{
       50%{
            opacity: 0;
        }
    }

    .home .hed .clom h1 strong {
        font-family: "Bold",sans-serif;
        -webkit-text-fill-color: #FFF;
    }

    .home .hed .clom p {
        margin: 40px 0;
        font-size: 22px;
        letter-spacing: 0.5s;
        font-weight: 700px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-transform: capitalize;
        
    }

    .home .hed .clom p {
        color: #FFF;
        z-index: 101;
    }
    .home .hed .clom .btn{
        outline: none;
        border: none;
        padding: 10px 20px;
        border-radius: 30px;
        font-size: 18px;
        /* font-weight: bold; */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        border: 2px solid rgb(4, 52, 114);
        background-color: rgb(4, 11, 83); 
        transition: 0.5s;
        &:hover{
            background-color: rgb(53, 5, 120);  
            border: 2px solid white;        
        }
    }