.slide{
    width: 92%;
    margin: auto;
}
.slide img{
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.slide span{
    background-color: rgb(16, 14, 14);
    padding: 10px;
}

@media screen and (max-width:700px) {
.slide{
    width: 95%;
    margin: auto;
}
.slide img{
    height: 50vh;
}
}

