.navcope .navbar{
    width: 100%;
    position: fixed;
    margin-bottom: 100px;
    background-color: #010c18!important;
    padding: 5px 40px;
   box-shadow: 0px 0px 10px rgb(195, 160, 160);
    z-index: 999;
    border-bottom:  1.5px solid rgba(255, 255, 255, 0.59);
}
.navcope .navbar-brand h1{
    font-size: 1.3rem;
    /* font-size: 20px; */
    background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
    -webkit-background-clip: text;
    font-family: cursive;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 650px;
    margin-top: 10px;
}
/* .navcope .navbar .navbar-brand{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    outline: none;
    &:hover{
        color: white;
        cursor: pointer;
    }
} */
.navcope .navbar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 1px 1px 1px 2px black;
}
.navcope .navbar .im{
    display: flex;
}
.navcope .navbar .im h4{
    margin-top: 20px;
    margin-left: 5px;
    display: none;
}
/* navicon */

.navcope .navicon{
    display: none;
}
.navcope .navicon{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    z-index: 999;
}
.navcope .navicon ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
.navcope .navicon ul li .nm{
list-style: none;
text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.navcope .navicon ul li .nm:hover{
    color: #123456;
}
li{
    list-style: none;
    text-decoration: none;
}
#sd{
    font-size: 20px;
    font-weight: 500px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 5px;
    margin: 0 10px;
    &:hover{
        color: rgb(97, 101, 139);
    }
    &:focus{
        background-color: #014748ee;
        border: 1px solid white;
        border-radius: 5px;
    }
}
#bn{
    background-color: white;
    font-size: 20px;
}

@media screen and (max-width:700px) {
    .navcope .nav1{
        display: none;
    }
    .navcope .navbar .navbar-brand{
        margin-right: 10px;
    }
    .navcope .navbar .im h4{
        display: block;
    }

}