.navcope .navbar{
    width: 100%;
    position: fixed;
    margin-bottom: 100px;
    background: linear-gradient(135deg, #0d1117, #1a1e24);
    padding: 5px 40px;
    z-index: 999;
    border-bottom:  1.5px solid rgba(255, 255, 255, 0.59);
}
.navcope .navbar-brand h1{
    font-size: 1.3rem;
    background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
    -webkit-background-clip: text;
    font-family: cursive;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 300px;
    margin-top: 10px;
}

.navcope .navbar .im i{
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(240, 6, 181) 0%, rgb(150, 23, 255) 35%, rgb(0, 119, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* navicon */

.navcope .navicon{
    display: none;
}
.navcope .navicon{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    z-index: 999;
}
.navcope .navicon ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
.navcope .navicon ul li .nm{
list-style: none;
text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.navcope .navicon ul li .nm:hover{
    color: #123456;
}
li{
    list-style: none;
    text-decoration: none;
}
#sd{
    font-size: 20px;
    font-weight: 500px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 5px;
    margin: 0 10px;
    transition: 0.5s;
    transform: 0.5s;
    border: 1px solid rgba(255, 255, 255, 0);
    &:hover{
        transform: 0.5s;
        transition: 0.5s;
        background-color: rgb(70, 65, 65);
        color: rgb(252, 252, 252);
        border-radius: 4px;
        border: 1px solid white;
    }
    &:focus{
        background-color: #071b1bee;
        border: 1px solid white;
        border-radius: 5px;
    }
}
#bn i{
    /* background-color: white !important; */
    color: white;
    font-size: 25px;
    cursor: pointer;
    &:hover{
        border: none;
    }
    &:focus{
        border: none;
    }
}

@media screen and (max-width:700px) {
    .navcope .nav1{
        display: none;
    }
    .navcope .navbar .navbar-brand h1{
        margin-right: 10px;
    }
    .navcope .navbar .im h4{
        display: block;
    }
    .navcope .navbar-brand h1{
        margin-right:0px !important;
    }

}
@media screen and (max-width:992px) {
    .navcope .navbar .im i{
        display: none;
    }
}